.footer {
    width: 100%;
    height: 165px;
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin-top: 170px;
    position: absolute;
}

.footer__items {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__items_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__items_logo img {
    width: 100px;
    height: 80px;
}

.footer__items_logo h1{
    font-size: 30px;
    color: white;
}

.nav__link_footer {
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    color: white;
    margin: 80px;
}

.nav__link_footer:hover {
    color: black; /* Замініть 'your-desired-color' на бажаний колір */
}

@media (max-width: 768px) {
        .nav__link_footer {
            display: none;
        }
        .footer__items_logo img{
            margin-left: 40px;
        }
    }